<div class="row">
  <h1 class="text-center">Welcome to Lobby Tracker</h1>
  <h2 class="text-center">Go ahead and search...</h2>
  <%= form_tag searches_path, method: :get, class: "form-inline col-md-6 col-md-offset-4" do %>

    <div class="form-group">
      <%= text_field_tag(
          :search,
          nil,
          placeholder: "Search!",
          class: "form-control"
      ) %>

      <%= select_tag :type,
          options_for_select([["Official", "official"],
                              ["Lobbiyst Firm", "lobbyist_firm"],
                              ["Lobbyist Client", "lobbyist_client"],
                              ["Municipal Decision", "municipaldecision"],
                              ["Lobbyist", "lobbyist"]]), class: "form-control" %>
    </div>

    <%= submit_tag("Search!", class: "btn btn-primary") %>
  <% end %>
  <div class="col-md-6 col-md-offset-4">
    <p>Search for a San Francisco city official, a lobbyist firm, a client, or a municipal decision and see facts about political contributions and meetings.</p>
  </div>
</div>
